.container {
    flex-direction: column;
    display: flex;
}

.title {
    font-weight: bold;
    margin: 1.5vmin 0;
}

.textarea {
    flex-basis: 50vmin;
}

.buttons {
    margin: 1.5vmin 0;
}

.button {
    background-color: lightsalmon;
    border: none;
    border-radius: 0.5vmin;
    cursor: pointer;
    height: 3vmin;
    min-height: 3vmin;
}